<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Spin me</title>

    <link rel="stylesheet" href="assets/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/lib/spinner/spinner.css"/>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="assets/lib/AngularJS-Toaster/toaster.css"/>

    <script src="assets/lib/d3/d3.min.js" charset="utf-8"></script>
    <script src="assets/lib/spinner/Spinner.js" charset="utf-8"></script>

    <script src="assets/lib/angular/angular.min.js" charset="utf-8"></script>


    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->
</head>

<body ng-app="spinner">

<div>

    <div class="container" ng-controller="EntriesCtrl">
        <toaster-container></toaster-container>

        <div class="row">
            <h3>Random Name Selector <span class="badge pull-right">{{connected}}</span></h3>
        </div>

        <div class="row">
            <form name="newEntryForm" ng-submit="add(newName)">
                <label for="newName">Add a new label</label>
                <div class="input-group">
                    <div class="form-group">
                        <input type="text" ng-model="newName" class="form-control" name="newName" id="newName" placeholder="Enter something" required>
                    </div>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="!newEntryForm.newName.$valid">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="col-sm-8 col-xs-8">Name</th>
                        <th class="col-sm-3 col-xs-3">Selected #</th>
                        <th class="col-sm-1 col-xs-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="participant in participants">
                        <td>{{participant.name}}</td>
                        <td>{{participant.counts}}</td>
                        <td class="pull-right">
                            <button type="button" class="btn btn-xs btn-danger" ng-click="remove(participant)">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <hr>

        <div class="row" >
            <div class=" text-center  ">
            <button class="btn btn-default" type="submit" ng-click="spin()">randomize<span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
            <h3 ng-show="winner"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Selected: {{winner.name}}</h3>
            <div id="spinnerContainer"></div>
            </div>
        </div>

    </div>

</div>


<script src="assets/lib/stomp/lib/stomp.js"></script>
<script src="assets/lib/sockjs/sockjs.js"></script>

<!-- Toaster -->
<script src="assets/lib/AngularJS-Toaster/toaster.js"></script>
<script src="assets/lib/angular-animate/angular-animate.min.js"></script>

<script src="assets/js/app.js"></script>
<script src="assets/js/controller.js"></script>
<script src="assets/js/services.js"></script>
</body>
</html>